p{border: 20px solid green;
color: black;
font-size: medium;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    margin-bottom: 10px;

}
.img{
   width: 200px;
   height: 200px;
}